



<footer class="footer footer-type2-light footer-white">
    <div class="footer-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 text-center text-lg-start"><a class="logo-footer" href="#"><img alt="luxride" src="assets/imgs/template/logo.svg"></a>
            <ul class="menu-footer-inline">
              <li><a href="about-us-1.html">About us</a></li>
              <li><a href="carrers.html">Careers</a></li>
              <li><a href="store-location.html">Store Locator</a></li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
            <div class="socials"><a href="#"><img src="assets/imgs/template/icons/fb.svg" alt="Guza"></a><a href="#"><img src="assets/imgs/template/icons/insta.svg" alt="Guza"></a><a href="#"><img src="assets/imgs/template/icons/tw.svg" alt="Guza"></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-2">
      <div class="container">
        <div class="footer-bottom">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20"><span class="body-p1 neutral-medium-dark">© 2023 Guza.Co. All rights reserved</span></div>
            <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
              <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
                <div class="dropdown mr-20">
                  <button class="btn btn-line-bottom dropdown-toggle" id="dropdownLang" type="button" data-bs-toggle="dropdown" aria-expanded="false">EN</button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                    <li><a class="dropdown-item" href="#">EN</a></li>
                    <li><a class="dropdown-item" href="#">JP</a></li>
                    <li><a class="dropdown-item" href="#">KR</a></li>
                  </ul>
                </div>
                <div class="dropdown">
                  <button class="btn btn-line-bottom dropdown-toggle" id="dropdownCurrency" type="button" data-bs-toggle="dropdown" aria-expanded="false">USD</button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
                    <li><a class="dropdown-item" href="#">USD</a></li>
                    <li><a class="dropdown-item" href="#">EURO</a></li>
                    <li><a class="dropdown-item" href="#">AUD</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

